@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.theme-text-colors {
  @apply 
  text-slate-900 
  dark:text-neutral-100
}

.theme-text-colors-secondary {
  @apply 
  text-neutral-700
  dark:text-neutral-400
}


.theme-background {
  @apply 
  bg-white
  dark:bg-neutral-900 
  
}

.theme-secondary-background {
  @apply 
  bg-slate-100
  dark:bg-neutral-800 
}

.theme-background-glass {
  @apply 
  bg-white/10
  dark:bg-neutral-900/10 
  backdrop-blur-md

}

.theme-border {
  @apply 
  border-slate-300 
  dark:border-neutral-700
}

/*
.theme-secondary-border {
  @apply 
  border-slate-200 
  dark:border-neutral-700
  border
  transition
}
*/

.theme-card {
  @apply 
  bg-white
  border-gray-300 
  dark:bg-neutral-900
  dark:border-neutral-700
}

.theme-secondary-card {
  @apply 
  bg-slate-100
  border-slate-200 
  dark:bg-neutral-800
  dark:border-neutral-700
}